body{font-family: sans-serif;
  background-color: #cafafa;
  margin: 2rem;
}
.card{ background-color: beige;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 1rem;
  width: 20rem;
  margin-top: 5px;
  height: 100px;
  

}
h1, h2{
 color: blue;
 
}
.btn{
  background-color: #d02727;
  float:right;
  margin-bottom: 3px;
  width: 6rem;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font: inherit;
  display: flex;  

}
.btn--alt{
  background-color: transparent;
  color: blueviolet;
}
.btn:hover{
  background-color: aquamarine;
}
.btn--alt:hover{
  background-color: aquamarine;
}
.action{
  text-align: center ;
}
.modal{
  background-color: aliceblue;
  width: 30rem;
  height: 100px;
  border-radius: 6px;
  padding: 1 rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  text-align: center;
  z-index:10;

}
.backdrop{
  background-color: bisque;
}
